
.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.8rem;
    margin: 0;
}

.section-agregar{
    max-width: 70rem;
    background-color: black;
    color: white;
    margin: 0 auto;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 20px 20px 20px rgb(26, 90, 228)

}
.section-productos{
    max-width: 70rem;
    background-color: black;
    box-shadow: 20px 20px 20px rgb(25, 0, 255);
    color: white;
    margin: 0 auto;
    margin-top: 5rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    text-align: center;
}


.lista-productos{
    font-size:1rem;
    font-weight: 900;
    text-align: left;
    margin:0 2rem;
    padding: 0.3rem;
    text-transform: uppercase;
}

.producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.producto div{
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.amarillo,.celeste{
    color:black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.amarillo{
    background-color: yellow;
}
.celeste{
    background-color: rgb(18, 166, 224);
}

.label{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;

 }

 
.input{
    background-color: wheat;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.button{
    border: none;
    border-radius: 3rem;
    background-color: wheat;
    color: black;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
    padding: 0.5rem 1rem;
}



.boton-eliminar{
    background-color: rgb(231, 0, 0);
    font-size: 1rem;
    color:white;
    border:none;
    padding: 0.5rem;
    margin-left: 2rem;
    font-weight: 900;
    border-radius: 0.5rem;
    cursor: pointer;
}

.boton-editar{
   background-color: rgb(182, 173, 173);
    font-size: 1rem;
    color:black;
    border:none;
    padding: 0.5rem;
    margin-left: 2rem;
    font-weight: 900;
    border-radius: 0.5rem;
    cursor: pointer;
}


.error{
    background-color: rgb(231, 0, 0);
    display: inline-block;
    text-transform: uppercase;
    padding:1rem 0.5rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.5rem;
    margin-top: 10px;
}